@model IEnumerable<Hockey.Models.Arena>
@{

    ViewBag.Title = "Arenas";
}

<h2>Arenas</h2>


<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(a => a.Arenaname)</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var Arena in Model)
            {
                <tr>
                    <td>@Html.DisplayName(Arena.Arenaname)</td>
                </tr>
            }
        }
    </tbody>
</table>

<br /><br /><br />

<p>Add Arena</p>

@using (Html.BeginForm("AddArenas", "Home", FormMethod.Post))
{
    //vad är den Default värde för den här !!!.
    Hockey.Models.Arena arena= new Hockey.Models.Arena();
    @Html.EditorFor(x => arena.Arenaname, new { htmlAttributes = new { @Name = "Arenaname", @id = "Arenaname" } })
    <input type="submit" value="Add" />
}

<br /><br />

<p>Remove Arena</p>

@using (Html.BeginForm("RemoveArena", "Home", FormMethod.Post))
{
    //vad är den Default värde för den här !!!.
    Hockey.Models.Arena arena= new Hockey.Models.Arena();
    @Html.EditorFor(x => arena.Arenaname, new { htmlAttributes = new { @Name = "Arenaname", @id = "Arenaname" } })
    <input type="submit" value="Remove" />
}