@model IEnumerable<Hockey.Models.Team>
@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>
<meta charset="utf-8" />
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Team => Team.Teamname)</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var team in Model)
            {
                <tr>
                    <td>@Html.DisplayName(team.Teamname)</td>
                </tr>
            }

        }


    </tbody>
</table>

<br /><br /><br />

<p>Add Teams</p>

@using (Html.BeginForm("AddTeams", "Home", FormMethod.Post))
{
    //vad är den Default värde för den här !!!.
    Hockey.Models.Team team = new Hockey.Models.Team();
    @Html.EditorFor(x => team.Teamname, new { htmlAttributes = new { @Name = "Teamname", @id = "Teamname" } })
    <input type="submit" value="Add" />
}

<br /><br />

<p>Remove Teams</p>

@using (Html.BeginForm("RemoveTeams", "Home", FormMethod.Post))
{
    //vad är den Default värde för den här !!!.
    Hockey.Models.Team team = new Hockey.Models.Team();
    @Html.EditorFor(x => team.Teamname, new { htmlAttributes = new { @Name = "Teamname", @id = "Teamname" } })
    <input type="submit" value="Remove" />
}