@model IEnumerable<Hockey.Models.Team>
@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>
<meta charset="utf-8" />
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Team => Team.Teamname)</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var team in Model)
            {
                <tr>
                    <td>@Html.DisplayName(team.Teamname)</td>
                </tr>
            }

        }


    </tbody>
</table>

<br /><br /><br />

@using (Html.BeginForm("Teams", "Home", FormMethod.Post))
{
    //vad är den Default värde för den här !!!.
    @Html.EditorFor(model => model.FirstOrDefault().Teamname)
    <input type="submit" value="Submit" />
}